[Unit]
Description=MetricsBuilder API
After=network.target

[Service]
User=username
WorkingDirectory=/path/to/MetricsBuilder/mbopenapi
ExecStart=/usr/bin/python3.6 -m openapi_server
Restart=always

[Install]
WantedBy=multi-user.target