[Unit]
Description=uWSGI instance to serve metricsbuilder
After=network.target

[Service]
User=lijie
Group=nginx
WorkingDirectory=/home/lijie/MetricsBuilder
Environment="PATH=/home/lijie/MetricsBuilder/env/bin"
ExecStart=/home/lijie/MetricsBuilder/env/bin/uwsgi --ini metricsbuilder.ini
Restart=always

[Install]
WantedBy=multi-user.target